/* This file consists of the general layout of the different pages: 
the header, the logos, the navigation bar and the footer */


/* header */

header {
    background-color: white;
    padding: 30px;
}

.home-title {
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 40px;
    margin: 0;
}


/* UU logos*/

.uu-left {
    width: 3%;
    float: left;
}

.uu-right {
    width: 3%;
    float: right;
}


/* Navigation bar*/

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-decoration: none;
}

li {
    float: left;
}

li a {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    padding: 13px 85.0px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

li a:hover {
    color: #FFEB00;
}

li a.huidig {
    background-color: #808000;
    color: white;
}


/* footer */

.footer1 {
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1500px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    text-align: center;
    position: fixed;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}


/* grey background */

.layout {
    background-color: #D4D4D4;
}